Class

In [3]:
def name(num):
    return num**2

In [4]:
name(5)

25

In [5]:
def sale_2025():
    pass

In [6]:
sale_2025()

In [14]:
var = "data"
if 'a' in var :
    pass

In [16]:
def square(num):
    return num**2

In [17]:
square(5)

25

In [18]:
## Lambda

In [25]:
x=lambda a : a**2

In [26]:
x(5)

25

In [37]:
y = lambda a,b, :a % b

In [38]:
type(y)

function

In [39]:
y(5,6)

5

In [40]:
def name(a):
    return a**3
name(9)

729

In [41]:
power = lambda a :a**3

In [42]:
type(power)

function

In [43]:
power(9)

729

Class

In [44]:
class MyClass:
    #this is class reserved for future
    pass

In [49]:
class car:
    def __init__(self, name, age):
        self.name = name
        self.age = age
p1 = person("varun",231233)
p2 = person("john",5456)
print(p2.name)
print(p2.age)

john
5456

In [50]:
p1= person("John",36)
q1= person("sam",25)
w1= person("steve",44)
r1= person("kane",75)
s1= person("will",63)

In [51]:
q1.name

'sam'

In [52]:
r1.name

'kane'

In [ ]:
##

In [57]:
class person:
    def __init__(self,name,surname,YOB):
       self.name=name
       self.surname=surname
       self.YOB = YOB
    def age(self,current_year):
        return current_year - self.YOB
p1 = person("varun", "Goud",1958)
p1.age(2025)

67

In [62]:
p2 = person("john","david",1975)

In [63]:
p2.age(2025)

50

In [ ]:
##

In [73]:
class calculator:
    def __init__(self):
        pass

    def add(self, num1, num2):
        return num1 + num2

    def sub(self, num1, num2):
        return num1 - num2

    def multiply(self, num1, num2):
        return num1 * num2

    def divide(self, num1, num2):
        return num1 / num2

cal = calculator()

In [75]:
type(cal)

__main__.calculator

In [76]:
cal.add(50,50)

100

In [77]:
cal.multiply(5,5)

25

In [78]:
cal.divide(50,10)

5.0

Assignments

1) Write a lambda function to calculate the square of a number. Use it to print the square of 8.

In [79]:
square = lambda x: x ** 2
print("Square of 8:", square(8))

Square of 8: 64

2) Create a lambda function to multiply three arguments. Use it to multiply 3, 4, and 5, then print the result.

In [80]:
multiply = lambda x, y, z: x * y * z
print("Multiplication of 3, 4, 5:", multiply(3, 4, 5))

Multiplication of 3, 4, 5: 60

3) Write a lambda function to find the maximum of two numbers. Use it to find the maximum between 10 and 20 and print the result.

In [81]:
maximum = lambda a, b: a if a > b else b
print("Maximum of 10 and 20:", maximum(10, 20))

Maximum of 10 and 20: 20

4) Create a list of integers and use a lambda function with the filter method to filter out even numbers. Print the resulting list.

In [82]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print("Even numbers:", even_numbers)

Even numbers: [2, 4, 6, 8, 10]

5) Create a class named Animal with an __init__ method that initializes species and name. Instantiate an object of this class with species "Dog" and name "Buddy", then print the species and name.

In [83]:
class Animal:
    def __init__(self, species, name):
        self.species = species
        self.name = name

animal = Animal("Dog", "Buddy")
print("Species:", animal.species)
print("Name:", animal.name)

Species: Dog
Name: Buddy

6) Create a class named Car with attributes for brand, model, and year. Add a method car_info that prints a formatted string with this information. Create an instance of the Car class and call the car_info method.

In [84]:
class Car:
    def __init__(self, brand, model, year):
        self.brand = brand
        self.model = model
        self.year = year

    def car_info(self):
        print(f"Car Info: {self.year} {self.brand} {self.model}")

my_car = Car("Toyota", "Camry", 2022)
my_car.car_info()

Car Info: 2022 Toyota Camry

7) Create a class named Person with an __init__ method and a method introduce that prints a greeting including the person's name. Instantiate an object with the name "Alice" and call the introduce method.

In [85]:
class Person:
    def __init__(self, name):
        self.name = name

    def introduce(self):
        print(f"Hello, my name is {self.name}.")

person = Person("Alice")
person.introduce()

Hello, my name is Alice.

8) Create a class named Student with attributes for name and grades (a list of grades). Add a method average_grade that returns the average of the grades. Create an instance of the Student class, add some grades, and print the average grade.

In [86]:
class Student:
    def __init__(self, name, grades):
        self.name = name
        self.grades = grades

    def average_grade(self):
        return sum(self.grades) / len(self.grades)

student = Student("John", [85, 90, 78, 92])
print("Average Grade:", student.average_grade())

Average Grade: 86.25

9) Create a class named Book with attributes for title, author, and year_published. Add a method book_age that calculates how old the book is from the current year. Create an instance of the Book class and print the age of the book.

In [87]:
from datetime import datetime

class Book:
    def __init__(self, title, author, year_published):
        self.title = title
        self.author = author
        self.year_published = year_published

    def book_age(self):
        current_year = datetime.now().year
        return current_year - self.year_published

book = Book("1984", "George Orwell", 1949)
print("Book Age:", book.book_age(), "years")

Book Age: 76 years

10) Write a BankAccount class with attributes for owner and balance. Add methods for deposit and withdraw. Create an instance and perform some deposits and withdrawals, then print the final balance.

In [89]:
class BankAccount:
    def __init__(self, owner, balance=0):
        self.owner = owner
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount

    def withdraw(self, amount):
        if amount <= self.balance:
            self.balance -= amount
        else:
            print("Insufficient funds!")

account = BankAccount("Alice", 1000)
account.deposit(500)
account.withdraw(300)
account.withdraw(1500)  # Should trigger insufficient funds
print("Final Balance:", account.balance)

Insufficient funds!
Final Balance: 1200

11) Create a Calculator class with methods for addition, subtraction, multiplication, and division. Use this class to perform a series of calculations and print the results.

In [90]:
class Calculator:
    def add(self, a, b):
        return a + b

    def subtract(self, a, b):
        return a - b

    def multiply(self, a, b):
        return a * b

    def divide(self, a, b):
        if b == 0:
            return "Cannot divide by zero"
        return a / b

calc = Calculator()
print("Addition:", calc.add(10, 5))
print("Subtraction:", calc.subtract(10, 5))
print("Multiplication:", calc.multiply(10, 5))
print("Division:", calc.divide(10, 5))

Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0